<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lift00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,232},{264,222}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,56},{264,222}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift01.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,236},{276,220}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,58},{276,220}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,236},{278,212}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,66},{278,212}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,236},{292,196}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,82},{292,196}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{264,174}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,104},{264,174}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,268},{264,172}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,106},{264,172}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,268},{264,148}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,130},{264,148}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,2},{266,110}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,167},{266,110}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift08.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{264,256}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,110},{264,256}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,264}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,86},{264,264}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift10.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{264,254}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,62},{264,254}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{264,254}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,62},{264,254}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,2},{268,228}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,58},{268,228}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{268,232}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,54},{268,232}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{274,232}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,54},{274,232}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift15.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{284,232}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,54},{284,232}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pullbox.png</string>
            <key>size</key>
            <string>{2030,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34127a68bc57ca3c1ed6ee348ffc3ecc:88583b3124865103c27fbce23e90cff6:57feaca525d6b601c72aad6695f1ddca$</string>
            <key>textureFileName</key>
            <string>pullbox.png</string>
        </dict>
    </dict>
</plist>
