<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lift00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{264,222}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,56},{264,222}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,342}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,58},{276,342}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{278,334}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,66},{278,334}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{292,318}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,82},{292,318}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{264,296}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,104},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1086},{264,294}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,106},{264,294}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,820},{264,270}}</string>
                <key>offset</key>
                <string>{1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,130},{264,270}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1584},{266,232}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,154},{266,232}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,288},{264,256}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,110},{264,256}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift09.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1586},{264,264}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,86},{264,264}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,554},{264,254}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,62},{264,254}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,554},{264,254}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,62},{264,254}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{268,228}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,58},{268,228}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1352},{268,232}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,54},{268,232}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{274,232}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,54},{274,232}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift15.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{284,232}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,54},{284,232}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pullbox.png</string>
            <key>size</key>
            <string>{596,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff107482a9b2bf99d6f04ec995b603f4:6f82fd7d9d144a9cbdfab4299fac08e9:57feaca525d6b601c72aad6695f1ddca$</string>
            <key>textureFileName</key>
            <string>pullbox.png</string>
        </dict>
    </dict>
</plist>
