<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lift00.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,454},{326,224}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,85},{326,224}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{336,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,89},{336,220}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{340,214}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,95},{340,214}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift03.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,226},{352,198}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,111},{352,198}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift04.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,426},{326,176}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,133},{326,176}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{326,174}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,135},{326,174}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift06.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,798},{326,150}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,159},{326,150}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift07.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,798},{326,150}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,159},{326,150}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,782},{326,170}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,139},{326,170}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift09.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,604},{326,192}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,117},{326,192}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift10.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,450},{326,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,91},{326,218}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,450},{326,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,91},{326,218}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift12.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{330,222}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,87},{330,222}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,224},{330,224}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,85},{330,224}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,224}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,85},{334,224}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lift15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{334,224}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,85},{334,224}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pull_box.png</string>
            <key>size</key>
            <string>{1024,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f708498411eb7f172a9f1cc6fe0aaa2:68c6a703f1453ce0e3f767f215fb1658:523b08eb74e872f1a889f1bceaf20660$</string>
            <key>textureFileName</key>
            <string>pull_box.png</string>
        </dict>
    </dict>
</plist>
